# Android / Gradle
*.iml
.gradle/
.kotlin/
build/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.aar
output-metadata.json

# Kotlin
*.hprof

# OS
.DS_Store
Thumbs.db

# Logs
*.log
auto-trust.err
auto-trust.log.err
gradle/android/
gradle/caches/
gradle/daemon/
gradle/kotlin-profile/
gradle/native/
gradle/wrapper/dists/
